<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <app-header (menuToggle)="drawer.toggle()"></app-header>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #drawer [position]="'start'" [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <app-menu></app-menu>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="card">
                <div class="card-body router-outlet-container">
                     <router-outlet></router-outlet> 
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>